{% extends "base.html" %}
{% block content %}

          <div class="inner-editrecipe">
              <form method="POST" action="{{ url_for('edit_recipe_search') }}" enctype="multipart/form-data">
            <div class="row">
              <div class="input-field col s12">
                    <select name="recipeselect" id="recipeselect" method="POST">
                        <option value="" selected>All recipes</option>
                        {% for x in recipes %}
                        <option value={{x._id}}>{{x.name.title()}}</option>
                        {% endfor %}
                    </select> 
          <label>Sort by:</label>
                </div>
            <div class="waves-effect waves-light btn-small"><span><i class="small left material-icons">edit</i><input value="" type="submit">Edit this recipe</span></div>
        </form>
      </div>
{% endblock %}